html {
  scroll-behavior: smooth;
}

body {
  background: #333;
  padding: 15px;
}

.lero {
  width: 75%;
  padding: 125px 0;
  margin: 25px auto 0 auto;
  text-align: center;
  background: url('lero.gif') no-repeat;
  background-position: center center;
  font-size: 16px + .8rem;
}

#button {
  padding: 25px 0;
  font-size: 10vw;
  margin: 0 auto;
}
