html {
  scroll-behavior: smooth;
}

body {
  background: #333;
  color: #ddd;
  padding: 15px;
}

.lero {
  width: 75%;
  padding: 125px 0;
  margin: 0 auto;
  text-align: center;
  background: url('lero.gif') no-repeat;
  background-position: center center;
}

.lero + .lero {
  margin-top: 25px;
}
